<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CustomersPage</title>
</head>
<body>
    <h1>Customers Page</h1>
    <h3>Names:</h3>
    <ul>
        {% for item in customerInfo %}
            <li>{{ item.customerName }}</li>
        {% endfor %}
    </ul>
    <h3>Customers with parameter:</h3>
    <ul>
        {% for item in customersByNumber %}
            <li>{{ item.customerName }}</li>
        {% endfor %}
    </ul>
</body>
</html>